.container {
    display: flex;
    gap: 20px;
    margin-top: 50px;
}

.left {
    flex: 3;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: sticky;
    top: 15%;
    height: fit-content;
}

.left .details {
    margin-block: 30px;
}

.userEmail {
    color: var(--softTextColor);
    font-size: .9rem !important;
    letter-spacing: .003rem !important;
    text-align: center;
}

.right {
    flex: 7;
    border: 1px solid var(--lightTextColor);
    padding: 20px;
    border-radius: 5px;
    margin-top: -50px;
}

.left .userImg {
    width: 180px;
    height: 180px;
    position: relative;
}

.userImg img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

@media screen and (max-width:770px) {
    .container {
        flex-direction: column;
    }

    .left {
        position: static;
    }

    .right {
        margin-top: 0;
    }

}