.wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 40px;
}
.postsContainer{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
}
