.followBtn {
    font-weight: bold !important;
    font-size: .75rem !important;
    cursor: pointer !important;
    text-transform: none !important;
    border-radius: 2rem !important;
    padding-block: 0px !important;
    background: rgba(144, 202, 249, 0.08) !important;
}

@media screen and (max-width:660px) {
    .followBtn {
        padding-block: 1px !important;
    }
}