.container {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    width: 100vw;
    background: var(--bg-light-transperent);
    backdrop-filter: blur(5px);
    top: 0;
    left: 0;
    z-index: 10;
    transition: 0s opacity;
    opacity: 0;
    pointer-events: none;
    z-index: 21 !important;

}

.container.show {
    opacity: 1;
    pointer-events: all;
}

.inner {
    background: var(--bg);
    min-width: 200px;
    min-height: 100px;
    box-shadow: var(--shadow-light);
    border-radius: .3rem;
    transition: .05s all;
    transform: scale(.5);
    max-width: 700px;
}

.inner.show {
    transform: scale(1);
}

@media screen and (max-width:640px) {
    .container{
        align-items: flex-start;
        perspective: 200px;
    }
    .inner {
        transition-duration: .2s;
        width: 97% !important;
        transform: translateY(-20px) rotateX(30deg) scale(.8);
        transform-origin: top;
        opacity: 0;
        margin-top: -1rem;
    }
    .inner.show{
        margin-top: .44rem;
        opacity: 1;
        transform: translateY(0) rotateX(0deg) scale(1);
    }
}