:root {
  --bg: white;
  --textColor: black;
  --softBg: #f0f0f0;
  --softTextColor: #626262;
  --shadow-light: 0 0 5px rgba(0, 0, 0, .2);
  --lightGray: lightSlateGray;
  --main-color: #385cfb;
  --main-color-dark: #2b52ff;
  --main-color-light: #587eed;
}

hr{
  width: 100%;
}

.dark {
  --bg: #0f172a;
  --textColor: #ddd;
  --softBg: #1f273a;
  --lightBG: #121d3a;
  --shadow-light: 0 0 5px var(--bg-light);
  --bg-light: rgba(255, 255, 255, .1);
  --softTextColor: #a6a6a6;
  --successTextColor: #7EE2B8;
  --successBgColor: #1C3329;
  --bg-lighter: rgba(255, 255, 255, .025);
  --bg-light-transperent: rgba(0, 0, 0, .025);
  --lightTextColor: rgba(255, 255, 255, 0.5);
}

.light {
  --bg: white;
  --textColor: rgb(14, 14, 14);
  --lightTextColor: rgba(0, 0, 0, 0.4);
  --softBg: #f0f0f0;
  --shadow-light: 0 0 5px rgba(0, 0, 0, .2);
  --bg-light: rgba(0, 0, 0, .05);
  --bg-lighter: rgba(0, 0, 0, .025);
  --bg-light-transperent: rgba(255, 255, 255, .025);
  --softTextColor: #626262;
  --successTextColor: #216E4E;
  --successBgColor: #DCFFF1;
}

.react-tooltip {
  /* background: var(); */
  font-size: .7rem;
  border-radius: 2rem;
}

body {
  scroll-behavior: smooth;
}

ol,
ul {
  margin-left: 1.2rem !important;
}

.MuiMenu-list {
  margin-left: 0 !important;
}
.MuiTabPanel-root{
  padding: 24px 0 !important;
}
.react-loading-skeleton {
  transition: all .2s !important;
}

.LoadingContainer {
  min-height: 70dvh;
  display: flex;
  justify-content: center;
  align-items: center;
}


* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
}

body {
  max-width: 100vw;
  overflow-x: hidden;
}

a {
  color: inherit;
  text-decoration: none;
}

.material-symbols-outlined.fill {
  font-variation-settings:
    'FILL' 1,
    'wght' 400,
    'GRAD' 0,
    'opsz' 24
}

.container {
  min-height: 100dvh;
  background-color: var(--bg);
  color: var(--textColor);
  transition: .2s all;
}

.wrapper {
  max-width: 80%;
  margin: 0 auto;
  padding: 0 50px;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.children {
  flex-grow: 1;
}

.ql-container {
  font-size: 28px !important;
  /* max-height: 500px !important; */
  max-height: auto !important;
  overflow: auto !important;
}

.quill>.ql-container .ql-editor.ql-blank::before {
  color: #b3b3b1 !important;
}

.ql-container .ql-editor.ql-blank {
  min-height: 300px !important;
  transition: .2s all;
}

.ql-container .ql-editor.ql-blank:focus {
  border-radius: .3rem;
  background: var(--bg-lighter);
}

.MuiFormControl-root {
  margin: 0 !important;

}

.MuiMenuItem-root {
  min-height: 35px !important;
}

@media screen and (max-width:1536px) {}

@media screen and (max-width:1280px) {

  .wrapper {
    max-width: 85%;
    padding: 0 10px;
  }
}

@media screen and (max-width:1024px) {

  html {
    font-size: 95%;
  }

}

@media screen and (max-width:768px) {

  .wrapper {
    max-width: 90%;
  }
}

@media screen and (max-width:640px) {

  .wrapper {
    max-width: 95%;
  }

  .ql-container {
    font-size: 20px !important;
  }
}