.IconButton span {
    font-size: 1.3rem !important;
}

.card.dark {
    background: #1a2238 !important;
}

@media screen and (max-width:670px) {
    .card{
        max-width: 100% !important;
    }
}