.container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.wrapper {
    width: 600px;
    max-width: 500px;
    box-shadow: var(--shadow-light);
    padding: 40px;
    transition: padding .2s;
    margin-top: 40px;
}

.inputBox {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.inputBox .inpt {
    position: relative;
}

.inputBox .inpt label {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 10px;
    color: var(--softTextColor);
    pointer-events: none;
    transition: all .2s;
    font-size: .9rem;
}

.inpt input,
.inpt textarea {
    width: 100%;
    font-size: .9rem;
    height: 45px;
    outline: none;
    border: none;
    color: var(--softTextColor);
    padding: 0 10px;
    background: transparent;
    border: 2px solid var(--softBg);
    border-radius: .3rem;
    color: var(--textColor);
    transition: all .2s;
}

.inpt input:hover,
.inpt textarea:hover {
    border-color: var(--main-color);
}

.inpt input:focus,
.inpt input:valid,
.inpt textarea:focus,
.inpt textarea:valid {
    border-color: var(--main-color);
}

.inpt textarea {
    resize: none;
    height: auto !important;
    min-height: 60px;
    padding-top: 10px;
    max-height: 150px;
}

.inputBox .textareaInpt label {
    top: 24%;
}

.inpt input:focus~label,
.inpt input:valid~label,
.inpt textarea:focus~label,
.inpt textarea:valid~label {
    top: 0;
    padding: 0 5px;
    left: 5px;
    font-size: 12px;
    color: rgb(240, 7, 240);
    background: var(--bg);
}

.inpt input:focus {
    background: transparent;
}

.subtext {
    font-size: .7rem;
    text-decoration: underline;
    font-weight: 600;
    color: var(--main-color);
    padding-top: 20px;
}

.imgContainer {
    width: 20px;
    height: 20px;
    position: relative;
}

.imgContainer img {
    object-fit: cover;
}

.crossline {
    position: relative;
    border-bottom: 1px solid var(--softBg);
    margin: 30px 0;
    transition: all .2s;
}

.crossline span {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: -8px;
    background: var(--bg);
    transition: .2s all;
    padding: 0 20px;
}

.socialLinks {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    gap: 20px;
    transition: background borderColor .2s;
}

.socialLink {
    transition: all .2s;
    display: flex;
    gap: 20px;
    border: 1px solid var(--softBg);
    padding: 10px 0;
    cursor: pointer;
    width: 100%;
    justify-content: center;
}

.socialLink:hover {
    background: var(--bg-lighter);
}

.h2 {
    margin-bottom: 20px;
    text-align: center;
    color: var(--lightTextColor);
}

.darkIcon .imgContainer img {
    filter: invert(1) !important;
}

@media screen and (max-width:640px) {
    .wrapper {
        padding: 40px 20px;
    }

}