.userActions {
    display: flex;
    gap: 20px;
    margin-bottom: 20px;
    justify-content: space-between;
    width: 100%;
    align-items: center;
}

@media screen and (max-width:660px) {
    .followBtn {
        font-size: .8rem !important;
        padding-block: 2px !important;
    }
}