.extraActionsContainer {
    display: flex;
    justify-content: space-between;
    border-top: 1px solid var(--softBg);
    padding: 10px 5px;
    border-bottom: 1px solid var(--softBg);
    align-items: center;
}

.shareIcon {
    display: flex;
    gap: 30px;
    align-items: center;
    color: var(--softTextColor);
    position: relative;
}

.shareModal {
    position: absolute;
    top: -200px;
    transition: .2s all;
    right: -10px;
    z-index: 1;
    opacity: 0;
    visibility: hidden;
}
.shareModalCloseIcon{
    position: absolute;
    right: 10px;
    top: 10px;
    z-index: 1;
    background: var(--bg-light);
    border-radius: .1rem;
    padding: 3px;
    font-size: 1.2rem;
}
.shareModal.show {
    transition-delay: .1s;
    top: -220px;
    opacity: 1;
    visibility: visible;
}

.shareIcon span {
    user-select: none;
    cursor: pointer;
}

.shareIcon span:nth-child(2) {
    font-size: 1.4rem;
    margin-top: .4rem;
}

.commentsCount {
    font-size: .6em !important;
    font-family: monospace;
}

.DelEditActions {
    gap: 10px !important;
}

.DelEditActions span {
    font-size: 1.2rem !important;
}

@media screen and (max-width:770px) {

    .shareModal {
        top: initial;
        right: 0;
        left: 0;
        position: fixed;
        bottom: -100%;
    }

    .shareModal.show {
        top: initial;
        opacity: 1;
        bottom: 0;
    }
    .shareModalCloseIcon {
        font-size: 1.34rem;
    }

}