.tagsContainer {
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.tagsContainer div {
    gap: 10px !important;
}

.wrapper {
    display: flex;
    align-items: center;
    gap: 8px;
    flex-wrap: wrap;
}