/* AudienceStatsDetail +  AudienceList Components Css*/


.container {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 4rem;
    display: grid;
    grid-template-rows: 0fr;
    transition: all .2s;
    margin-top: 2rem;
    opacity: 0;
    width: 500px;
    max-width: 98%;
}

.wrapper {
    overflow: hidden;
}

.container.show {
    opacity: 1;
    margin-top: 4rem;
    grid-template-rows: 1fr;
}

.container.dark {
    background-color: #202932 !important;
    background-color: #0f172a !important;
}

.container {
    background-color: #fff !important;
}

.wrapper {
    padding: 20px;
    padding-bottom: 0px !important;
}

.audienceListWrapper {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.folllowBtn {
    position: absolute;
    z-index: 2;
    right: 10px;
    top: 10px;
    font-size: .65rem !important;
}


@media screen and (max-width:770px) {
    .container {
        top: 50%;
        transform: translate(-50%, -50%);
        margin-top: -2rem;
    }

    .container.show {
        opacity: 1;
        margin-top: 0;
    }

}