.subBtn {
    padding: 5px 20px;
    border-radius: 1rem;
    font-weight: 500;
    font-size: .75rem;
    border: none;
    user-select: none;
    min-width: 110px;
    color: white;
    background: rgb(6, 160, 6);
    cursor: pointer;
    transition: background .2s;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    max-height: 23px;

}

.subBtn.unsub {
    background: rgb(255, 32, 32);
}

.subBtn:disabled {
    background: var(--bg-light);
    cursor: not-allowed;
}

@media screen and (max-width:770px) {
    .subBtn {
        font-size: .8rem;
        padding-block: 12px;
    }

}